{
  "users": [
    {
      "username": "anonymous",
      "roles": [
        "Administrator"
      ]
    },
    {
      "username": "admin",
      "passwordHash": "005PQPXB31t5QEc+UZNRkw:Kzs7v+nDPl4bwkOWCFRrDw:500000",
      "roles": [
        "Administrator"
      ]
    }
  ],
  "roles": [
    {
      "name": "Administrator",
      "permissions": [
        "agent:transaction",
        "agent:error",
        "agent:jvm",
        "agent:incident",
        "agent:config",
        "admin"
      ]
    }
  ],
  "web": {
    "port": {{ glowroot_port }},
    "bindAddress": "{{ glowroot_bind_address }}",
    "contextPath": "{{ glowroot_context_path }}",
    "sessionTimeoutMinutes": 30,
    "sessionCookieName": "GLOWROOT_SESSION_ID"
  },
  "storage": {
    "rollupExpirationHours": [
      72,
      336,
      2160,
      2160
    ],
    "traceExpirationHours": 336,
    "fullQueryTextExpirationHours": 336,
    "rollupCappedDatabaseSizesMb": [
      500,
      500,
      500,
      500
    ],
    "traceCappedDatabaseSizeMb": 500
{% if glowroot_ldap_host is defined %}
  },
  "ldap": {
    "host": "{{ glowroot_ldap_host }}",
    "port": {{ glowroot_ldap_port }},
    "username": "{{ glowroot_ldap_username }}",
    "password": "{{ glowroot_ldap_password }}",
    "userBaseDn": "{{ glowroot_user_base_dn }}",
    "userSearchFilter": "{{ glowroot_user_search_filter }}",
    "groupBaseDn": "{{ glowroot_group_base_dn }}",
    "groupSearchFilter": "{{ glowroot_group_search_filter }}"
{% endif %}
  }
}
